CompileFlags:
  Add: 
  - -I/home/user/proj/c/shraybn/include
  - -I/home/user/proj/c/shraybn/engine/src
  - -I/home/user/proj/c/shraybn/engine/lib/log
  - -I/home/user/proj/c/shraybn/engine/lib/nuklear
  - -I/home/user/proj/c/shraybn/engine/lib/sokol
  - -I/home/user/proj/c/shraybn/engine/lib/microui/src
  - -I/home/user/proj/c/shraybn/engine/lib/cglm/include
  - -I/home/user/proj/c/fips-build/shraybn/linux-make-debug/engine
