CompileFlags:
  Add: 
  - -I/home/user/proj/c/shraybn/include
  - -I/home/user/proj/c/shraybn/engine/src
  - -I/home/user/proj/c/shraybn/lib/log
  - -I/home/user/proj/c/shraybn/lib/sokol
  - -I/home/user/proj/c/shraybn/lib/microui/src
  - -I/home/user/proj/c/shraybn/lib/cglm/include
  - -I/home/user/proj/c/shraybn/lib/shaderc/libshaderc/include
